<%- include('../partials/header', {active: "New" }) %>

  <p>Welcome to <%= title %>

  </p>
  <% courses.forEach(c=> { %>
    <ul>
      <a href="/courses/<%= c._id %>">
        <h3>
          <%= c.title %>
        </h3>
      </a>
      <%= c.title %>
        </li>
    </ul>

    <% }) %>

      <%- include('../partials/footer') %>