<!<%- include('../partials/header', {active: "" }) %>


    <p> this is the show page</p>

    <ul>
        <li>
            title: <%= course.title %>
        </li>
        <li>
            user: <%= course.user.createdAt %>
        </li>
        <!-- for each loop to display section(s) in contents -->
        <li>
            content: <%= course.contents[0].sectionTitle %>
        </li>
        <li>
            content: <%= course.contents[0].description %>
        </li>
    </ul>


    <%- include('../partials/footer') %>