<!<%- include('../partials/header', {active: "" }) %>

    <ul>
        <li>
            title: <%= course.title %>
        </li>
        <li>
            user: <%= course.user.createdAt %>
        </li>
        <!-- for each loop to display section(s) in contents -->


        <% if (course.contents.length) { %>
            <% course.contents.forEach(function(con) { %>
                <h3>title </h3>
                <li>
                    description: <%= con.description %>
                </li>
                <li>
                    content: <%= con.sectionTitle %>
                </li>
                <% }) %>
                    <% } else { %>
                        <h4>no content added</h4>
                        <% } %>
    </ul>
    <p>
    <form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
        <button type="submit"> X </button>
    </form>
    </p>


    <%- include('../partials/footer') %>